mongo_data/
.vscode/
node_modules
dist
.git
.gitignore
private.key
private.key.base64
public.key.base64
public.key
secret.base64
request.http
Dockerfile
README.md
.env
test
.prettierrc
eslint.config.mjs