services:
    db:
        image: mongo
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: example
            MONGO_INITDB_DATABASE: cash-db
        ports:
            - '27017:27017'
        volumes:
            - mongo_data:/data/db
        healthcheck:
            test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
            interval: 10s
            timeout: 5s
            retries: 5

    api:
        build: .
        ports:
            - '3000:3000'
        env_file:
            - .env
        depends_on:
            db:
                condition: service_healthy
        restart: unless-stopped

volumes:
    mongo_data:
